@font-face {
  font-family: "Cursor";
  src: url("./css/fonts/cursedtimerulil.woff") format("woff");
}

body {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  font-family: Segoe, "Cursor", "sans-serif";
  background-color: #9ca2a7;
}
h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #eeeeee;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #eeeeee;
}
.container {
  max-width: 675px;
  display: flex;
  background-color: #1b244a;
  grid-template-columns: repeat(3, 175px);
  gap: 20px;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border: #eeeeee 5px solid;
}
#homeScore,
#guestScore {
  color: #f94f6d;
  font-size: 4rem;
  font-weight: bold;
}
.scores {
  background-color: black;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}
.scoreCard {
  padding: 20px;
  font-size: 3rem;
  /* color: #ffeead; */
  text-align: center;
}
.score-btn {
  border: 2px solid #9aabd8;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  padding: 5px;
  background: none;
  color: #eeeeee;
  font-weight: bold;
}
#clockTimer {
  font-size: 4rem;
}
#guestFouls,
#homeFouls,
#changePeriod {
  color: #eeeeee;
}

.timer-btn,
.newgame-btn {
  border: 2px solid #9aabd8;
  border-radius: 5px;
  width: auto;
  height: 25px;
  padding: 5px;
  background: none;
  color: #eeeeee;
  font-weight: bold;
}
